  *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: grid;
    place-content: center;
    background: #f0f0f0;
}

.container{
    width: 400px;
    padding: 10px 30px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

h2{
    margin:15px 5px;
    color: #1a237e;
    margin-bottom: 30px;
    font-weight: 600;
}
h2 span{
    text-decoration: 4px underline #1a237e;
    text-underline-offset: 10px;
}

.row, .passwordBox{
    margin:15px 0px;
    position: relative;
}

.row{
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px rgba(107, 107, 107, 0.4);
    padding: 10px 15px;
    border: 2px solid transparent;
    border-radius: 10px;
    background: #fff;
}
.row label{
    margin-inline: 5px;
    font-weight: 600;
}

#password{
    width: 100%;
    position: relative;
    padding: 10px 20px;
    outline: 0;
    border-radius: 5px;
    font-size: 20px;
    border:3px solid #2600ff;
    color:#1a237e ;
    font-weight: 600;

}

#password::placeholder{
    font-weight: 400;
}

#copyIcon{
    position: absolute;
    top: 25%;
    right: 10px;
    font-size: 28px;
    color: #1a237e;
    font-weight: 900;
}


button{
    position: relative;
    width: 100%;
    padding: 10px 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: 0;
    background: #1A237E;
    color: white;
    margin-block: 10px;
}
button span{
    margin-inline: 5px;
    color: white;
}

@media (width<360px){
    .container{
        width: 280px;
    }
} 



 .checkbox{
    color:#1a237e;
    /* color: #00695c; */
    padding: 0;
    font-weight: 700;
    font-size: 28px !important;
    cursor: pointer;
}


.lengthRow{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.lengthRow p, .lengthRow span{
        font-weight: 600;
        color: #1a237e;
}
.lengthRow span{
    color:#000;
}



#lengthSlider{
    /* The slider itself */
    appearance: none;
    width: 100%; /*Full-width*/
    height: 5px; /* Specified height */
    background: #2600ff; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.9; /* Set transparency (for mouse-over effects on hover) */
    transition: opacity .2s;
    border-radius: 50px;
    margin-bottom: 20px;
  }
  
  /* Mouse-over effects */
  #lengthSlider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  #lengthSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #4400ff; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50px;
    border: 4px solid #fff;
    outline: 2px solid #4400ff;
}






