*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body{
    background: #f0f0f0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: grid;
    place-content: center;
}

.container{
    background: #fff;
    padding: 10px 30px;
    width: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 5px;
}

h2{
    margin: 15px 5px;
    color: #1a237e;
    /* color: #002765; */
    font-weight: 600;
    margin-bottom: 30px;
    /* font-size: 30px; */
}

h2 span{
    text-decoration: 4px underline #1a237e;
    text-underline-offset: 10px;
}

.passwordBox{
    position: relative;
    margin: 15px 0px;
}

#password{
    width: 100%;
    padding: 10px 20px;
    outline: 0;
    border: 3px solid #2600ff;
    border-radius: 5px;
    color: #1a237e;
    font-weight: 600;
    font-size: 20px;
}

#password::placeholder{
    font-weight: 400;
}

.passwordBox span{
    position: absolute;
    top: 25%;
    right: 10px;
    font-size: 28px;
    color: #1a237e;
    font-weight: 900;
}


.lengthRow{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.lengthRow p{
    color: #1a237e;
}

#lengthSlider{
    appearance: none;
    background: #2600ff;
    width: 100%;
    height: 5px;
    outline: none;
    border-radius: 50px;
    margin-bottom: 20px;
}

#lengthSlider::-webkit-slider-thumb{
    appearance: none;
    width: 20px;
    height: 20px;
    background: #4400ff;
    border: 4px solid #fff;
    border-radius: 50px;
    outline: 2px solid #4400ff;
    cursor: pointer;
}

.row{
    margin: 15px 0px;
    position: relative;
    box-shadow: 0 0 5px rgba(107,107,107,0.4);
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.row label{
    margin-inline: 5px;
    font-weight: 600;
}

.checkbox{
    color: #1a237e;
    cursor: pointer;
    font-size: 28px;
}

button{
    position: relative;
    width: 100%;
    padding: 10px 20px;
    border-radius: 4px;
    background: #1a237e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    border: 0;
    margin-block: 10px;
    font-size: 18px;
    cursor: pointer;
}

button span{
    margin-inline: 5px;
}