*{
    margin: 0;
    padding: 0;
    color: #fff;
}

body{
    background: linear-gradient(45deg, #222225, #000);
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    background: #050505;
    width: 320px;
    text-align: center;
    padding: 20px;
    border: 5px ridge #06d04d;
    border-radius: 15px;
    outline: 5px ridge #6a6a6a;
    outline-offset: 5px;
}

.card span{
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 2px;
}