@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #000, #222);
}

.container{
    padding: 50px;
    width: 700px;
    border: 20px groove #fff;
    border-radius: 40px;
    box-shadow: 0 0 20px 0 #000;
}

.display-row p{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 20px;
    font-size: 24px;
}

#displayInvested, #displayIntrest{
    font-size: 45px;
    text-align: left;
}

.inputBox{
    margin-block: 30px;
}

.inputBox p
{
    letter-spacing: 1px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block:20px;
    font-size: 20px;
}

.inputBox p > input{
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    outline: none;
    text-align: center;
    letter-spacing: 1px;
}

#InvestedValue{
    width: 150px;
}

.inputBox p > input::-webkit-inner-spin-button,
.inputBox p > input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
.inputBox p > input:focus{
    outline: 5px solid #00b7ff;
}

input[type=range]{
    width: 100%;
    appearance: none;
    background: transparent;
    cursor: pointer;
}
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background: #0f0d4a;
    margin-top: -10px;
    height: 32px;
    width: 2rem;
    border:5px solid #fff;
    border-radius: 30%;
}

input[type=range]::-webkit-slider-runnable-track{
    appearance: none;
    background: #0872a7;
    border-radius: 5px;
    height: 15px;
}

.min-max{
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 20px;
}