*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: #fefefe;
    padding-top: 4%;
    padding-inline: 5%;
}

.container h1{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
    /* background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(8, 119, 40) 50%, blue, indigo, purple);
    background-clip: text;
    display: inline;
    color: transparent; */
}

.container h1 img{
    width: 70px;
    margin-right: 5px;
}


.container button{
    display: flex;
    /* background: #1a3739; */
    background: #1b2d2e;
    background: linear-gradient(to right, #000000, #1a2524);
    /* background: linear-gradient(to right, #9744f2, #25867d); */
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    outline: 0;
    border: 0;
    border-radius: 40px;
    padding: 15px 25px;
    margin: 30px 0 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(197, 197, 197, 0.3);
}

/* .container button img{
    width: 30px;
    margin-right: 5px;
} */

.notes-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: flex-end; /*using this other related items does not grow */
    gap: 15px;
}



.note{
    position: relative;
    padding: 5px;
    width: 420px;
}

[contentEditable=true]:empty:before {
    content: attr(placeholder);
    opacity: 1;
}

.input-box{
    position: relative;
    width: 400px;
    min-height: 150px;
    border-radius: 8px;
    box-shadow: 0 0 15px #d2d2d2;
    background: #fff;
    min-height: 150px;
    color: #000000;
    padding: 12px 16px;
    outline: none;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 500;
}

.note img{
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 35px;
    cursor: pointer;
}

