*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    background: #ffe2df;
    background-image: linear-gradient(to right, #8686863b 1px, transparent 1px), linear-gradient(to bottom, #8686863b 1px, transparent 1px);

    background-size: 80px 80px;
}

.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-inline: 50px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding: 30px;
    background: #fff;
    box-shadow: 6px 6px 0px 0px #000;
    border: 2px solid;
}

.contact-form-title{
    font-weight: 600;
    color: #311b92;
    font-size: 30px;
    margin-bottom: 5px;
}

.contact-form-title hr{
    width: 200px;
    height: 5px;
    background-color: #1A237E;
    border-radius: 10px;
    margin-bottom: 20px;
}

.inputs{
    width: 400px;
    height: 55px;
    outline: none;
    border: 2px solid #000;
    padding-left: 25px;
    font-weight: 500;
    box-shadow: 4px 5px 0 0 #000;
    font-size: 18px;
    
}

.contact-form textarea{
    height: 160px;
    padding-top: 15px;
    resize: vertical;
}

.inputs:focus{
    border: 2px solid #673ab7;
    box-shadow: 4px 5px 0 0 #673ab74f;
}

.inputs::placeholder{
    color: #2b2a2a;
    font-size: 16px;
}

button{
    padding: 15px 30px;
    width: 100%;
    background: #f44336;
    box-shadow: 5px 5px 0 0 #000;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
}

.image-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.image-container img#logo{
    width: 500px;
}

@media (max-width:800px){
    .inputs{
        width: 80vw;
    }
    .image-container{
        display: none;
    }
}