*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 10px;
    background: #000;
    color: #fff;
}

.calculator{
    max-width: 600px;
    width: 100%;
    margin-left: 15%;
}

.calculator h1{
    font-size: 25px;
    border-left: 5px solid #673ab7;
    padding: 0 0 0 30px;
}

.calculator h1 span{
    font-size: 60px;
    background: linear-gradient(45deg, #E91E63, #F06292, #BA68C8, #D1C4E9);
    background-clip: text;
    color: transparent;
}

.inputBox{
    margin: 60px 0 40px;
    padding: 35px;
    background: rgba(103, 58, 183, .2);
    border-radius: 10px;
    position: relative;
    display: flex;
}

.inputBox label{
    position: absolute;
    top: 5px;
    font-weight: 500;
}


.inputBox input{
    color: #fff;
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    background: linear-gradient(45deg, #9c27b0, #673ab7, #009687 75%, #fff 75%);
}

.inputBox button{
    padding: 15px 30px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    background: #ffe500;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.inputBox input::-webkit-calendar-picker-indicator{
    left: 0;
    right: 0;
    width: auto;
    position: absolute;
    background-position: calc(100% - 20px);
    background-size: 25px;
    cursor: pointer;
}

#resultDisplay{
    font-size: 24px;
    visibility: hidden;
}

#resultDisplay span{
    color: #ffe500;
    font-weight: 500;
}