@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500&display=swap');
/*1*/
*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}

/* 9 */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('bg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

/* 2 */
header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
}
/* 3 */
.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
}

/* 4 */
.navigation a{
    position:relative;
    font-size: 1.5em;
    color:#ffffff;
    text-decoration:none;
    margin-left: 40px;
}

/* 7 */
.navigation a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #ffffff;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.5s;
}

/* 8 */
.navigation a:hover::after{
    transform-origin: right;
    transform: scaleX(1);
}

/* 5 */
.navigation .BtnLogin-popup{
    width: 130px;
    height: 50px;
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 600;
    margin-left: 40px;
    transition: 0.5s;

}

/* 6 */
.navigation .BtnLogin-popup:hover{
    background: #fff;
    color: #162938;
}

/* 10 */
.container{
    position: relative;
    width: 450px;
    height: 440px;
    background: #ffffffd1;
    backdrop-filter: invert(1);
    border:2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    box-shadow: 0 0 30px 5px rgba(0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
    /* 32 */
    /* comment this when styling register form */ 
    overflow: hidden;
    transform: scale(0);/*41*/
    /* 37 */
    transition: .5s ease;
}

/* 42 */
.container.active-popup{
    transform: scale(1)
}

/* 36 */
.container.active{
    height: 550px;
}

/* 30 */
.container .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    /* 31 */
    font-size:25px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    /* 33 */
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.container .icon-close:hover{
    background: #03488d;
}
/* 11 */
.container .form-box{
    width: 100%;
    padding: 40px;

}

/* 34 */
.container .form-box.login{
    /* display: none; */
    /* 39 */
    transition: transform .18s ease;
    transform: translateX(0);
}

/* 38 */
.container.active .form-box.login{
    transition: none;
    transform: translateX(-450px);
}


/* 35 */
.container .form-box.register{
    position: absolute;
    transition: none;/* 40 */
    transform: translateX(450px);
}

.container.active .form-box.register{
    /* display: none; */
    /* 40 */
    transition: transform .18s ease;
    transform: translateX(0);
}


/* 12 */
.form-box h2{
    font-size: 1.5rem;
    color: #162938;
    text-align: center;
}

/* 13 */
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 3px solid #050506;
    margin: 30px 0;
    
}

/* 14 */
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1.1rem;
    color: #162938;
    font-weight: 600;
    pointer-events: none;
    transition: .5s; /*18*/
}

/* 17 */
.input-box input:focus~label,
.input-box input:valid~label{
    top:-5px;
}

/* 15 */
.input-box input{
    width: 100%;
    height: 100%;
    background:transparent;
    border: none;
    border-radius: 5px;
    outline: none;
    /* 19 */
    font-size: 1em;
    font-weight: 600;
    color: #162938;
    padding: 0 35px 0 5px;
}

/* 16 */
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

/* 20 */
.remember-forgot{
    font-size: 1rem;
    color: #162938;
    font-weight: 500;
    /* 21 */
    margin: -15px 0 15px;
    /* 22 */
    display: flex;
    justify-content: space-between;
}

/* 23 */
.remember-forgot label input{
    accent-color: #161616;
    margin-right: 3px;
}

/* 24 */
.remember-forgot a{
    color: #162938;
    text-decoration:none;
}
/* 25 */
.remember-forgot a:hover{
    text-decoration: underline;
}

/* 26 */
.btn{
    width: 100%;
    height: 45px;
    background: #313444;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
    background-position: right bottom;
    transition: all .5s ease-in;
}

.btn:hover{
    background: linear-gradient(to right, #2f1e93 50%, white 50%);
    background-size: 200% 100%;
    background-position: left bottom;
}


/* 27 */
.login-register{
font-size: 1.1rem;
color: #162938;
text-align: center;
font-weight: 500;
margin: 25px 0 10px;
}

/* 28 */
.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 700;
    margin-left: 10px;
}

/* 29 */
.login-register p a:hover{
    text-decoration: underline;
}
